<div class="card">
    <div class="card-body">
        <h5 class="card-title">Autor: {{ author.id }}</h5>
        <p>Nume: {{ author.name}} </p>
        <p class="card-text">Publicatii: {{ books|join(', ')  }}</p>
        <a href="/authors/delete?id={{ author.id }}" class="btn btn-sm btn-danger">Delete</a>
        <a href="/authors/edit?id={{ author.id }}" class="btn btn-sm btn-danger">Edit</a>
    </div>
</div>