{% extends 'base.html.twig' %}

{% block title %}Formular{% endblock %}
{% block content %}
    <h3>Adauga carte</h3>
    <form method="post">
        {% if errors.book_name is defined %}
            <div class="alert alert-danger" role="alert">
                {{ errors.book_name }}
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="book_name">
        </div>
        {% if errors.book_description is defined %}
            <div class="alert alert-danger" role="alert">
                {{ errors.book_description }}
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlInput1" name="book_description" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ISBN</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="isbn">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Total pages</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" name="total_pages">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Cover image</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="cover_image">
        </div>
        <div class="mb-3">
            <label>Choose publisher:</label>
            <select name="publisher">
                {% for publisher in publishers %}
                    <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label>Choose authors:</label>
            <select name="authors[]" multiple>
                {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Salveaza">
    </form>
{% endblock %}
